$main-color-sidebar: #f5f5f5;
$green-color: #05402b;
$green-color-1: #04893e;
$green-color-2: #518e01; // sucess progression
$green-color-4: #518e01; // sucess progression
$green-color-3: #138742; // button

$gray-color: #616161;
$gray-color-1: #d4d4d4; //
$black-color: #000000;
$black-color-1: #00000029; // shadow
$black-color-2: #001308
