<div class="grid grid-cols-2 gap-2 utilisateurs mt-10">
  <div
    class="flex flex-row utilisateur ml-5 mr-5 pl-7 pr-7 bg-white mb-5 shadow-[0px_3px_20px_#00000029] rounded-[18px] h-[75px]"
    *ngFor="let in of [0, 1, 2, 3]"
  >
    <div class="d-block w-48 mt-4 left-and-right relative">
      <p class="pl-4">
        <mat-icon class="text-[19px] text-[#138742]">person</mat-icon>
      </p>
      <p class="text-[12px] text-[#000000]">Utilisateur</p>
    </div>
    <div class="flex items-center w-64 left-and-right relative">
      <div class="icon">
        <mat-icon class="text-[19px] text-[#138742]">info</mat-icon>
      </div>
      <div class="pl-3">
        <p class="text-[#b5b5b5] text-[10px]">Nom et Prénom</p>
        <p class="text-[12px] text-[#000000]">Said Essaoudi</p>
      </div>
    </div>
    <div class="flex items-center w-64">
      <div class="icon">
        <mat-icon class="text-[19px] text-[#138742]">mail</mat-icon>
      </div>
      <div class="pl-3">
        <p class="text-[10px] text-[#b5b5b5]">Email</p>
        <p class="text-[12px] text-[#000000]">chahab@gmail.com</p>
      </div>
    </div>
    <div class="flex items-center w-40 pl-4 justify-end">
      <mat-icon class="cursor-pointer text-[19px] text-[#138742]"
        >menu</mat-icon
      >
    </div>
  </div>
  <button (click)="openYesNoDialog()">Open YesNo Dialog</button>

  <ng-template #yesNoDialogTemplate>
    <span>Do you really want to delete it?</span>
  </ng-template>
</div>
