.nav-container {
  display: flex;
}

::ng-deep mat-sidenav {
  height: 100vh !important;
  // width: calc(100vw /6)
  overflow-x: hidden !important;
  position: fixed !important;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 5px 0px 29px #00000047;
}

::ng-deep mat-sidenav-content {
  height: 100vh !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  // opacity: 1;
}
::ng-deep .button-menu {
  position: absolute !important;
  top: 30px;
}
